<%-include("header")-%>

    <form class="inputform" action="/edit" method="post">
      <h1 ><%=title%></h1>
      <p ><%=content%></p>
      <button type="submit" name="id" class="btn btn-primary" value="<%=id%>">edit</button>

    </form>
<%-include("footer")-%>
